<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="headFragment">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>My Web Application</title>
	
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	</th:block>
</head>
<body>
    <div th:fragment="homeHeaderFragment" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<img class="mb-4 logo" th:src="@{/images/logo.svg}" alt="" width="32" height="32">
		<h5 class="my-0 mr-md-auto font-weight-normal">Hello</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" th:href="@{/home/about}">About Us</a>
			<a class="p-2 text-dark" th:href="@{/home/faq}">FAQ</a>
			<a class="p-2 text-dark" th:href="@{/home/feedback}">Feedback</a>
			<a class="p-2 text-dark" th:href="@{/home/contact}">Contact</a>
		</nav>
		<a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
	</div>

    <div th:fragment="mainHeaderFragment" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<img class="mb-4 logo" th:src="@{/images/logo.svg}" alt="Dashboard" width="32" height="32">
		<div class="my-0 mr-md-auto font-weight-normal">
			<a class="p-2 text-dark" th:href="@{/user/index}">User</a>
		</div>
		<nav class="my-2 my-md-0 mr-md-3">
	        <div>User: [[${#httpServletRequest.remoteUser}]]</div>
		</nav>
	    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
			<a class="btn btn-outline-primary" onclick="this.parentNode.submit(); return false;">Logout</a>
	    </form>
    </div>

    <div th:fragment="header" id="container">
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    	  <a class="navbar-brand" th:href="@{/main}">Main</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
	            <a class="nav-link" th:href="@{/user/index}">User</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<!-- 		        <div>[[${#httpServletRequest.remoteUser}]]</div> -->
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
		    </form>
		  </div>    		
        </nav>
    </div>
    
	<footer th:fragment="footerFragment" class="footer mt-auto py-3 border-top">
		<div class="container">
			<p class="mt-5 mb-3 text-muted">&copy; 2021</p>
		</div>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>