<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="layout.html :: headFragment"></div>
</head>
<body>
	<div th:replace="layout.html :: mainHeaderFragment"></div>
    
	<main role="main" class="container">
	  <div class="starter-template">
	    <h1>My Web Application</h1>
	    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	    <p>
			<img th:src="@{/images/whale.png}">
		</p>
	  </div>
	</main><!-- /.container -->

	<footer th:replace="layout.html :: footerFragment" ></footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>